/outputs/*
/testing/*
*.npz
*.pyc
### PyDev ###
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

test_gpu.py
/synthesizer/facades/